<h1 class="font-semibold">Lista de faltas</h1>

<!-- @if (dataSource.length > 0) { -->
  <form
    class="flex justify-content-center flex-wrap"
    [formGroup]="absenceForm"
  >
    <mat-form-field class="col-3 align-items-center">
      <mat-label>Nombre</mat-label>
      <input
          matInput
          type="text"
          placeholder="Escriba el nombre del profesor/estudiante"
          aria-label="Text"
          required
          [formControlName]="controlName.name"
          [matAutocomplete]="auto"
          (input)="onSearchUser()"
      >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (user of users; track user._id) {
              @if (user.role !== 'administrador') {
                  <mat-option [value]="user" (onSelectionChange)="onSelectedUser($event)">
                      {{ user.name }} {{ user.lastName }}
                  </mat-option>
              }
          }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="col-3 pointer-events-none">
      <mat-label>Apellido</mat-label>
      <input
          matInput
          type="text"
          placeholder="Escriba el apellido del profesor/estudiante"
          aria-label="Text"
          required
          [formControlName]="controlName.lastName"
          [tabIndex]="-1"
      >
    </mat-form-field>

    <div class="col-3 align-items-center">
      <h3 class="m-0">Fecha</h3>

      <mat-form-field class="w-full">
          <mat-label>Escoja una fecha dando click al icono</mat-label>
          <div>
              <input matInput [matDatepicker]="picker" formControlName="date" (input)="onSelectDate()">
          </div>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker (closed)="onSelectDate()"></mat-datepicker>
      </mat-form-field>
    </div>
  
    <div class="col-3 align-items-center">
          <mat-label class="font-bold flex justify-content-center">Justificación</mat-label>
          <mat-radio-group
              class="example-radio-group"
              [formControlName]="controlName.proof"
          >
          @for (proof of proofs; track proof) {
              <mat-radio-button
                  [value]="proof"
                  [checked]="selectedProof?.proof == proof.proof ? true : false"
                  >
                      {{ proof.proof }}
                  </mat-radio-button>
          }
          </mat-radio-group>
    </div>

    <div class="col-2 align-items-center">
      <mat-label class="font-bold flex justify-content-center">Rol</mat-label>
      <mat-radio-group
          class="example-radio-group"
          formControlName="role"
      >
      @for (role of roles; track role) {
          <mat-radio-button
              [value]="role"
              >
                  {{ role }}
              </mat-radio-button>
      }
      </mat-radio-group>
    </div>
  
    <mat-form-field class="col-3 align-items-center">
      <mat-label>Materia</mat-label>
          
      <input
          matInput
          type="text"
          placeholder="Escriba el nombre de la materia"
          aria-label="Text"
          [formControlName]="controlName.subject"
          [matAutocomplete]="autoSubject"
          (input)="onSearchSubject()"
      >
  
      <mat-autocomplete autoActiveFirstOption #autoSubject="matAutocomplete">
          @for (subject of subjects; track subject._id) {
              <mat-option [value]="subject" (onSelectionChange)="onSelectedSubject($event)">
                  {{ subject.subjectName }}
              </mat-option>
          }
      </mat-autocomplete>
          <!-- <mat-radio-group
          class="example-radio-group"
          [formControlName]="controlName.subject"
          >
          @for (subject of subjects; track subject._id) {
              <mat-radio-button [value]="subject">{{ subject.subjectName }}</mat-radio-button>
          }
          </mat-radio-group> -->
    </mat-form-field>

    <div class="flex col-3 justify-content-center gap-4 flex-col">
      <button mat-raised-button type="button" color="accent" (click)="onApplyFilter()">
          <mat-icon fontIcon="filter_list"></mat-icon>
          Filtrar
      </button>

      <button mat-raised-button type="button" color="warn" (click)="deleteFilters()">
        <mat-icon fontIcon="refresh"></mat-icon>
        Eliminar filtro
      </button>
    </div>
  </form>
<!-- } -->

<table
  cdk-table class="w-full text-center"
  [dataSource]="filteredDataSource.length > 0 ? filteredDataSource : dataSource"
  [cellSpacing]="0"
  fixedLayout
>
    <!-- Position Column -->
    <ng-container
      cdkColumnDef="position"
    >
      <th
        cdk-header-cell
        *cdkHeaderCellDef 
        class="bg-primary text-white border-right-1 border-top-1 border-white w-3rem"
      >
        No.
      </th>

      <td 
        cdk-cell 
        *cdkCellDef="let element; let i = index, let e = even; let first = first"
        class="border-bottom-1 border-right-1 border-left-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first }"
      >
        {{i + 1}}
      </td>
    </ng-container>
  
    <!-- Columna de fecha -->
    <ng-container
      cdkColumnDef="date"
    >
      <th 
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Fecha
      </th>

      <td
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.absenceDate}}
      </td>
    </ng-container>
  
    <!-- Columna de descripción -->
    <ng-container
      cdkColumnDef="description"
    >
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Descripción
      </th>

      <td 
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.absenceDescription}}
      </td>
    </ng-container>
  
    <!-- Columna de justificación -->
    <ng-container
      cdkColumnDef="proof"
    >
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Justificación
      </th>

      <td
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.proof.proof}}
      </td>
    </ng-container>

    <!-- Columna de materia -->
    <ng-container
      cdkColumnDef="subject"
      >
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          class="bg-primary text-white border-right-1 border-top-1 border-white"
        >
          Materia
        </th>

        <td
          cdk-cell
          *cdkCellDef="let element; let e = even; let first = first"
          class="border-bottom-1 border-right-1"
          [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
        >
          {{element.subject.subjectName}}
        </td>
    </ng-container>

    <!-- Columna del nombre de usuario -->
    <ng-container
      cdkColumnDef="name"
    >
        <th 
          cdk-header-cell
          *cdkHeaderCellDef
          class="bg-primary text-white border-right-1 border-top-1 border-white"
        >
        Nombre de la persona
      </th>

      <td 
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.user.name}} {{ element.user.lastName }}
      </td>
    </ng-container>
    
    <!-- Columna del rol del usuario -->
    <ng-container
      cdkColumnDef="role"
    >
      <th 
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Rol
      </th>

      <td
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.user.role}}
      </td>
    </ng-container>
    
    <!-- Columna del dni del usuario -->
    <ng-container 
      cdkColumnDef="dni"
    >
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Identificaión
      </th>

      <td
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        {{element.user.dni}}
      </td>
    </ng-container>

    <!-- Columna de acciones adicionales -->
    <ng-container
      cdkColumnDef="actions"
    >
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        class="bg-primary text-white border-right-1 border-top-1 border-white"
      >
        Acciones
      </th>

      <td
        cdk-cell
        *cdkCellDef="let element; let e = even; let first = first"
        class="border-bottom-1 border-right-1 flex gap-2 p-2 justify-content-center"
        [ngClass]="{'bg-indigo-40': e, 'border-top-1': first}"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="onEditAbsence(element)"
        >
          <mat-icon fontIcon="edit" class="m-0"></mat-icon>
        </button>

        <button
          mat-raised-button
          color="warn"
          (click)="onDeleteAbsence('500ms', '100ms', element)"
        >
          <mat-icon fontIcon="delete" class="m-0"></mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>

@if (isLoading()) {
  <shared-loading-wheel />
}
  